.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    height:300px;
    width:300px;
    border-radius:10px;
    border:none;
    background-color:#3b88c3;
    align-items: center;
    justify-content: center;
    display: flex;
};
