.schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting1 {
  font-weight: 600;
  margin: 0;
  margin-top: 50px;
}

.greeting2 {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
}

.dayButtons {
  display: flex;

  margin-top: 30px;
  margin-bottom: 30px;
}

.dayButtons button {
  display: block;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  border-width: 0px;

  background-color: #2c7da0;
}

.dayButtons button:hover {
  background-color: #2c7da0;
  color: black;
}

.dayButtons .inactiveButton {
  background-color: #014f86;
  color: white;

  transition-duration: 0.4s;
}

.selectedDay {
  background-color: #ee4266;
}

.day {
  font-weight: 500;
}
