.SchoolClassMain {
  display: flex;

  width: 100%;

  justify-content: center;
  align-items: center;
}

.card {
  background-color: #5a189a;

  cursor: pointer;

  margin: 10px;
  padding: 0;

  align-items: center;

  color: white;

  border-width: 0;
  border-radius: 10px;
  width: 20%;

  transition-duration: 0.4s;
}

.card:hover {
  background-color: #7b2cbf;
}

.time {
  font-weight: 200;
  margin: 0;
  margin-top: 20px;
}

h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

button.trashButton {
  cursor: pointer;

  border-radius: 50%;
  border-width: 0;

  background-color: #e01e37;

  height: 30px;
  width: 30px;
}

i {
  color: #161a1d;
}
